{% extends 'Home/base.html' %}
{% load static %}
{% block title %}Forget password {% endblock %}
{%block body%}

<h1>Forget password page </h1>

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">password Reset</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<br>
<div class="page-section mb-60">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12" style="margin:auto;">
                {% if messages %}
                <ul class="messages" style="color: red; font-size: 20px;">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <div class="col-md-12 mb-20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" name="email" placeholder="Email Address" >
                            </div>
                            <div class="col-12 mb-20">
                                <label>New password</label>
                                <input class="mb-0" type="password" name="password" placeholder="New password">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="register-button mt-0">submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}